<!-- Footer -->
<footer class="page-footer font-small indigo" style="width:auto; background-color:navajowhite; margin-top:20px;">

    <!-- Footer Links -->
    <div class="container" id="footer">
        <!-- Grid row-->
        <div class="row col-md-12 d-flex text-center justify-content-center mb-md-0 mb-4">

            <!-- Grid column -->
            <div class="col-md-12 col-12 mt-5">
                <div class="custom">
                    <h5 style="text-align: center;"><a href="mailto:autoshop@gmail.com">autoshop@gmail.com</a>.&nbsp;<br>AutoShop auto tim.</h5>
                </div>

            </div>
            <!-- Grid column -->

        </div>



        <div class="row">

        </div> <!-- kraj gornjeg dela footer-a -->



        <br>
        <center>

            <h3>Pratite nas</h3><a href="http://facebook.com/"><i class="fab fa-facebook-f fa-3x"></i></a>
            <a href="http://instagram.com/"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="http://linkedin.com/"><i class="fab fa-linkedin fa-3x"></i></a>
            <a href="http://twitter.com/"><i class="fab fa-twitter-square fa-3x"></i></a>
        </center>
        <br>
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="@Url.Action("Index","Pocetna")">Magacin</a>
                </h6>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="@Url.Action("Index","Cart")">Korpa</a>
                </h6>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{{action("KontaktController@index") }}">Kontakt</a>
                </h6>
            </div>
            <!-- Grid column -->

        </div>

        <br>



        <!-- Grid row-->
      

        <!-- Grid row-->


    </div>
    <div class="panel-footer">
        <!-- donji deo footer-a -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://www.facebook.com/profile.php?id=100000018778013"> Rados Perovic</a>
        </div>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <!-- Copyright -->

</footer>

</div>

<style>
    .container{
        width:100%;
        margin:auto;
        padding:0px;
       
    }
    #footer{
        padding-left:0px;
        padding-right:0px;
    }
    
</style>
<!-- Footer -->
