<div class="container" id="glavniDiv" style="background: #cccccc; margin-top:0px;">
    <!-- pocetak omotaca -->
    <div class="page-header">
        <h1>
            <a href="index.html" style="height:auto;"><img id="logo" src="/images/autoshopLogo.png" alt="Photo"></a><strong>
                Prodavnica auto delova 'AutoShop'
            </strong>
        </h1>


    </div>


    <style type="text/css">
        #logo {
            margin-top: 0px;
            margin-bottom: 0px;
            border-width: 2px;
            border-radius: 30%;
        }
        .page-header{
            margin:auto;
        }
        #glavniDiv{
            padding-left:15px;
            padding-right:15px;
        }
        
    </style>
  
